[Unit]
Description=jokesdb service keep running
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
Restart=on-failure
ExecStart=java -DDB_USERNAME="{{ dbuser }}" -DDB_PASSWORD="{{ dbpassword }}" -jar /srv/target/architecture-refcard-03-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target